@media (max-width: 1720px){
    .your-lookbook{
        padding-top: 45px;
    }
    .choice-lookbook__title{
        font-size: $px36;
    }
}
@media (max-width: 1650px){
    .lookbook-content{
        &__banner-title--banner-win{
            top: 30%;
            font-size: $px140;
        }
        &__banner-subtitle--banner-win{
            font-size: $px52;
        }
    }
}
@media (max-width: 1560px){
    .lookbook-content{
        &__win-inner{
            padding-top: 20px;
        }
        &__banner-title--banner-win{
            font-size: 6.25rem;
        }
    }
}
@media (max-width: 1400px){
    .your-lookbook{
        padding: 40px 30px 15px 0;
        .lookbook-content__banner-text{
            font-size: .875rem;
            margin-bottom: 20px;
        }
        .lookbook-content__banner-button{
            padding: 13px 20px;
        }
    }
    .choice-lookbook__title{
        font-size: $px30;
        margin-bottom: 20px;
    }
}
@media (max-width: 1380px){
    .lookbook-content{
        &__janes-inner{
            padding-top: 40px;
        }
        &__img-win{
            right: 10px;
        }
        &__banner-title--banner-win{
            display: none;
        }
        &__banner-title{
            font-size: $px36;
            margin-bottom: 20px;
        }
        &__banner-button{
            padding: 15px 25px;
        }
    }
}
@media (max-width: 1300px){
    .intro{
        min-height: 400px;
        &-vignette{
            &__text{
                font-size: $px400;
                line-height: 400px;
                height: 359.5px;
            }
        }
    }
}
@media (max-width: 1260px){
    .lookbook-content{
        &__banner-win{
            .lookbook-content__banner-text{
                font-size: 0.875rem;
                max-width: 600px;
            }
        }
    }
}
@media (max-width: 1200px){
    .intro{
        min-height: 350px;
        &-vignette{
            &__text{
                font-size: $px350;
                line-height: 350px;
                height: 309.5px;
                width: 95vw;
            }
        }
    }
}
@media (max-width: 1180px){
    .lookbook-content{
        &__banner-janes{
            width: 65.6%;
            padding: 19.57% 0;
            order: -1;
        }
        &__banner-win{
            width: 100%;
            order: 1;
            padding: 18% 0;
        }
        &__img-win{
            right: 5%;
        }
        &__item{
            width: 31.5%;
            padding: 19.57% 0;
        }
    }
}
@media (max-width: 1150px){
    .choice-lookbook{
        flex-direction: column;
    }
    .your-lookbook{
        width: 70vw;
        height: 33vw;
        margin: 0 auto 50px;
    }
}
@media (max-width: 966px){
    .banner-win__text-wrapper{
        display: none;
        &.banner-win__text-wrapper--active{
            display: block;
        }
    }
    .banner-win__text-wrapper--active{
        box-sizing: border-box;
        position: absolute;
        top: 0; left: 0; right: 0;
        padding: 15px 10px;
        background-color: #f8f8f8;
    }
}
@media (max-width: 890px){
    .lookbook-filter{
        &__item{
            margin-right: 20px;
        }
    }
}
@media (max-width: 860px){
    .your-lookbook{
        width: 85vw;
        min-height: 43vw;
    }
}
@media (max-width: 850px){
    .intro{
        min-height: 200px;
        &-vignette{
            &__text{
                font-size: $px200;
                line-height: 200px;
                height: 183px;
            }
        }
        &-container{
            &__title{
                font-size: $px36;
                line-height: 42px;
                margin-bottom: 15px;
            }
            &__subtitle{
                font-size: $px20;
                line-height: 44px;
            }
        }
    }
    .lookbook{
        margin-top: 60px;
        &-content__banner-win{
            .lookbook-content__banner-subtitle{
                max-width: 70%;
            }
        }
        &-content__banner-janes{
            .lookbook-content__banner-title{
                font-size: $px30;
            }
        }
        &-content__janes-inner{
            padding-top: 16px;
        }
    }
}

@media (max-width: 830px){
    .container{
        width: 90vw;
    }
    .your-lookbook{
        width: 90vw;
        min-width: 300px;
    }
}
@media (max-width: 768px){
    .lookbook-content{
        &__banner-janes{
            width: 100%;
            padding: 18% 0;
        }
    }
    .banner-janes__text-wrapper{
        display: none;
        &.banner-janes__text-wrapper--active{
            display: block;
        }
    }
    .banner-janes__text-wrapper--active{
        box-sizing: border-box;
        position: absolute;
        top: 0; left: 0; right: 0;
        padding: 15px 10px;
        background-color: #f8f8f8;
    }
}
@media (max-width: 715px){
    .lookbook-content{
        &__item-inner{
            width: 105px;
            a{
                width: 35px;
                height: 35px;
                font-size: $px22;
            }
        }
    }
}
@media (max-width: 690px){
    .lookbook-filter{
        justify-content: flex-end;
        &__menu{
            display: none;
            position: absolute;
            z-index: 10;
            top: 90%; right: 0;
            flex-direction: column;
            width: 55%;
            min-width: 220px;
            height: auto;
            border: 1px solid #ededed;
            font-size: $px18;
        }
        &__menu--active{
            display: flex;
        }
        &__sort-btn{
            display: block;
        }
        &__item{
            box-sizing: border-box;
            width: 100%;
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ffffff;
            padding: 0 15px 0 25px;
            transition: .3;
            &:not(:first-child){
                border-top: 1px solid #ededed;
            }
            &:hover{
                background-color: #ededed;
            }
        }
        .selected-link{
            display: block;
            opacity: 0;
        }
        .active{
            color: #727272;
            background-color: #ededed;
            .selected-link{
                display: block;
                opacity: 1;
            }
        }
    }
}
@media (max-width: 655px){
    .your-lookbook{
        min-height: 38vw;
        &__inner{
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            padding: 30px 30px 15px 0;
        }
        &__text-wrapper{
            display: none;
        }
        &__text-wrapper--active{
            display: block;
            box-sizing: border-box;
            position: absolute;
            top: 0; left: 0; right: 0;
            padding: 15px 10px;
            background-color: #f8f8f8;
            text-align: left;
            .lookbook-content__banner-text{
                margin-left: 0;
                max-width: 100%;
            }
        }
    }
}
@media (max-width: 572px){
    .lookbook-content{
        &__banner-win,
        &__banner-janes{
            .lookbook-content__banner-title{
                max-width: 50%;
                font-size: $px20;
            }
        }
    }
}
@media (max-width: 550px){
    .lookbook-filter{
        min-height: 87px;
    }
    .lookbook-content{
        &__item{
            width: 47%;
            padding: 31.33% 0;
        }
        &__banner-win{
            margin-bottom: 0;
        }
        &__item-inner{
            width: 125px;
            a{
                width: 45px;
                height: 45px;
                font-size: $px30;
            }
        }
    }
}
@media (max-width: 460px){
    .lookbook-content{
        &__banner-win,
        &__banner-janes{
            padding: 25% 0;
            .lookbook-content__banner-subtitle{
                font-size: 0.75rem;
            }
        }
    }
}
@media (max-width: 450px){
    .intro{
        min-height: 150px;
        &-vignette{
            &__text{
                font-size: $px140;
                line-height: 140px;
                height: 121px;
            }
        }
        &-container{
            &__title{
                font-size: $px26;
                line-height: 22px;
                margin-bottom: 15px;
            }
            &__subtitle{
                font-size: $px16;
                line-height: 30px;
            }
        }
    }
    .lookbook-content{
        &__item-inner{
            width: 105px;
            a{
                width: 35px;
                height: 35px;
                font-size: $px22;
            }
        }
    }
    .your-lookbook{
        padding-bottom: 20px;
    }
    .choice-lookbook__title{
        font-size: $px26;
    }
}
@media (max-width: 390px){
    .your-lookbook{
        .lookbook-content__banner-button{
            width: 145px;
            padding: 10px 15px;
            font-size: .7rem;
        }
    }
}